<!DOCTYPE html>
<html lang="en">
<head>
    <title>Appointment Booking App</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<style>body, div, h1, form, input, p { 
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #666;
  }
  h1 {
  padding: 10px 0;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  }
  p {
  font-size: 12px;
  }

  .main-block {
    width: auto;
  max-width: 50%; 
  min-height: 320px; 
  padding: 10px 0;
  margin: auto;
  border-radius: 5px; 
  border: solid 1px #ccc;
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  background: #ebebeb; 
  }
  form {
  margin: 0 30px;
  }

  li,select, input[name=name],[name=price]{
  width: 300px;
  
  height: auto;
  margin-left: 10%;
  margin-right:10%;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 0px; 
  border-radius: 0 5px 5px 0;
  border: solid 1px #cbc9c9; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  background: #fff; 
  }

  
  div[id=buttons],input[value=submit]{
    margin-left: 20%;
    margin-bottom:5px;
  }
  button[id=add]{
    margin-left: 35%;
    margin-bottom: 2%;
    margin-top:2%
  }

  button,button[id=add] {
  width: 100px;
  padding-left: 10px;
  padding-right: 10px; 
  margin-right: 0px;
  border-radius: 5px; 
  border: none;
  background: #1c87c9; 
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  }
  .alert {
      padding: 2px;
      margin-top: 15px;
      background-color: #f44336;
      color: white;
    }
    
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    .closebtn:hover {
      color: black;
    }
</style>

</head>
<body>
  
  <div class="main-block">
    <h1><%if(edit){%>Edit Item<%} else{ %>Add Item<% } %></h1>
    <form id="form" action="<%if(edit){%>/edit/<%=item.id%><%} else{ %>/add<% } %>" method="POST" >
      <hr>
      Product Name:
      <input type="text" name="name" value="<%if(edit){%><%=item.product%><%} %>"  required/><br>  
      Product price:
      <input type="text" name="price" value="<%if(edit){%><%=item.price%><%}  %>" required/><br>
      Select Category:
          <select name="Category" id="Category" value="<%if(edit){%><%=item.category%><%}  %>">
          <option value="cloth">cloth</option>
          <option value="food">food</option>
          <option value="footwear">footwear</option>
          <option value="Electronic">Electronic</option>
          </select>

      <div class = "msg"></div>    
    </hr>
      <div class="btn-block">
        <button id="add" type="submit"><%if(edit){%>Edit<%} else{ %>Add<% } %></button>
      </div>
    </form>
  
  <ul name="ul" id ="items">
    <% data.forEach(i=> { %>
      <li><%= i.product %> : <%= i.price %> <div id="buttons">
        <a href="/delete/<%=i.id%>" ><button type="submit" class="btn">Delete</button></a>
        <a href="/edit/<%=i.id%>" ><button type="submit" class="btn">Edit</button>
        </a>
        </div>
        
      </li>
      <%})%>
</ul>
</div>
</body>


</html>
